<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .weak {
                color: blueviolet;
            }
            .strong {
                color: black;
            }
            td {
                padding: 0 5px;
                text-align: center;
            }
            .active {
                background-color: lightblue;
            }
        </style>        
    </head>
    <body>
        <div>
            <table>
                <tr>
%OUT%
                </tr>
            </table>
            
            <button id="play">Play</button>
            <script src="js/player.js"></script>
        </div>
    </body>
</html>
